@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using HerPublicWebsite.BusinessLogic.Models.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using HerPublicWebsite.Controllers
@using HerPublicWebsite.Models.Enums

@model HerPublicWebsite.Models.ReferralRequestFollowUp.ReferralRequestFollowUpResponsePageViewModel

@{
    ViewBag.Title = "Referral follow up";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-m">@Model.ReferralCode</p>
        <p class="govuk-body">
        Thank you for taking part in the HUG 2 Eligibility Checker on @Model.RequestDate.ToShortDateString().

        We are writing to check whether you have been contacted by your LA (or their official contractor) in the last 10 working days. 

        Please indicate in the boxes below whether you have been contacted:
        </p>
        <form action="@Url.Action(nameof(ReferralRequestFollowUpController.RespondPage_Post), "ReferralRequestFollowUp")" method="post" novalidate>
            @Html.AntiForgeryToken()
                @await Html.GovUkRadiosFor(
                               m => m.HasFollowedUp,
                               fieldsetOptions: new FieldsetViewModel
                               {
                                   Legend = new LegendViewModel
                                   {
                                       Text = "Have you been contacted by your LA (or their official contractor)?",
                                       Classes = "govuk-fieldset__legend--m",
                                   },
                               })
                                <div class="govuk-button-group">
                @(await Html.GovUkButton(new ButtonViewModel
                        {
                            Text = "Submit",
                        }))
                    </div>
        </form>
        
    </div>
</div>
